In [27]:
import numpy as np
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout,Activation
from keras.optimizers import SGD,Adam,RMSprop
from keras.utils import to_categorical
from keras import regularizers
from keras.utils import np_utils

In [28]:
train = pd.read_csv('train_real.csv')
test = pd.read_csv('test_real.csv')
sample_sub = pd.read_csv('sample_submission(1).csv')

In [29]:
submission_df = pd.DataFrame()
submission_df['Id'] = test['Id']

In [30]:
train.head()

,Id,Altitude,Azimuthal_angle,Incline,H_dist_Hydro,V_dist_Hydro,H_dist_Road,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,H_dist_Fire,Wilderness_Area_A,Wilderness_Area_B,Wilderness_Area_C,Wilderness_Area_D,Soil,label
0,1,594,738,167,48,243,421,759,964,751,114,0,0,1,0,Soil_Type_23,-1
1,2,343,103,212,43,239,25,861,818,480,208,0,0,1,0,Soil_Type_10,-1
2,3,563,233,167,77,228,555,928,869,452,360,1,0,0,0,Soil_Type_1,-1
3,4,715,602,136,193,289,175,830,979,684,164,0,0,1,0,Soil_Type_32,-1
4,5,672,519,136,231,292,122,869,971,625,45,0,0,1,0,Soil_Type_32,-1

In [31]:
sample_sub.head()

   Id  Predictions
0   1           -1
1   2           -1
2   3           -1
3   4           -1
4   5           -1

In [32]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12395 entries, 0 to 12394
Data columns (total 17 columns):
Id                   12395 non-null int64
Altitude             12395 non-null int64
Azimuthal_angle      12395 non-null int64
Incline              12395 non-null int64
H_dist_Hydro         12395 non-null int64
V_dist_Hydro         12395 non-null int64
H_dist_Road          12395 non-null int64
Hillshade_9am        12395 non-null int64
Hillshade_Noon       12395 non-null int64
Hillshade_3pm        12395 non-null int64
H_dist_Fire          12395 non-null int64
Wilderness_Area_A    12395 non-null int64
Wilderness_Area_B    12395 non-null int64
Wilderness_Area_C    12395 non-null int64
Wilderness_Area_D    12395 non-null int64
Soil                 12395 non-null object
label                12395 non-null int64
dtypes: int64(16), object(1)
memory usage: 1.6+ MB

In [33]:
#Importing LabelEncoder from Sklearn

from sklearn.preprocessing import LabelEncoder
label_encoder_soil = LabelEncoder()

In [34]:
# Transforming sex column values using label Encoder

train.iloc[:,15]  = label_encoder_soil.fit_transform(train.iloc[:,15])
test.iloc[:,15]  = label_encoder_soil.fit_transform(test.iloc[:,15])

In [35]:
train = train.drop(['Id'],axis=1)
test = test.drop(['Id'],axis=1)

In [36]:
train.head()

,Altitude,Azimuthal_angle,Incline,H_dist_Hydro,V_dist_Hydro,H_dist_Road,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,H_dist_Fire,Wilderness_Area_A,Wilderness_Area_B,Wilderness_Area_C,Wilderness_Area_D,Soil,label
0,594,738,167,48,243,421,759,964,751,114,0,0,1,0,9,-1
1,343,103,212,43,239,25,861,818,480,208,0,0,1,0,1,-1
2,563,233,167,77,228,555,928,869,452,360,1,0,0,0,0,-1
3,715,602,136,193,289,175,830,979,684,164,0,0,1,0,17,-1
4,672,519,136,231,292,122,869,971,625,45,0,0,1,0,17,-1

In [37]:
test.head()

,Altitude,Azimuthal_angle,Incline,H_dist_Hydro,V_dist_Hydro,H_dist_Road,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,H_dist_Fire,Wilderness_Area_A,Wilderness_Area_B,Wilderness_Area_C,Wilderness_Area_D,Soil
0,489,355,197,237,333,456,948,909,460,404,1,0,0,0,3
1,626,333,257,192,337,398,971,881,393,165,0,0,1,0,16
2,657,103,242,137,252,236,857,802,464,636,0,1,0,0,8
3,543,175,182,232,365,500,905,846,456,317,1,0,0,0,0
4,746,888,121,150,261,197,783,916,680,274,0,0,1,0,16

In [38]:
val = train[10000:]
train = train[:10000]

In [39]:
y_train = train['label']
x_train = train.drop(['label'],axis=1)

y_val = val['label']
x_val = val.drop(['label'],axis=1)

In [40]:
print(x_train.shape)
print(y_train.shape)
print(x_val.shape)
print(y_val.shape)

(10000, 15)
(10000,)
(2395, 15)
(2395,)

In [41]:
# Changing labels into 0 and 1 as the loss function 'binary_crossentropy' expects labels to be either 0 or 1

for i in range(len(y_train)): 
    if y_train[i]==-1:
        y_train[i]=0
    else:
        y_train[i]=1
print(y_train)

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       1
10      0
11      0
12      0
13      1
14      0
15      0
16      1
17      0
18      0
19      0
20      0
21      1
22      0
23      0
24      0
25      0
26      1
27      0
28      0
29      0
       ..
9970    1
9971    0
9972    0
9973    0
9974    0
9975    0
9976    0
9977    0
9978    0
9979    0
9980    0
9981    0
9982    0
9983    0
9984    0
9985    0
9986    0
9987    0
9988    0
9989    1
9990    0
9991    0
9992    0
9993    1
9994    0
9995    0
9996    1
9997    0
9998    0
9999    0
Name: label, Length: 10000, dtype: int64

In [42]:
from sklearn.preprocessing import StandardScaler    # Using Standard Scalar to normalise our data
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_val = sc.fit_transform(x_val)
test = sc.fit_transform(test)

/home/shreyansh/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/shreyansh/.local/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/shreyansh/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/shreyansh/.local/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/shreyansh/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/shreyansh/.local/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [43]:
model = Sequential()
model.add(Dense(32,activation='relu',input_shape=(15,))) #The number of rows (number of training samples) is not 
#the part of the input shape of the network because the training process feeds the network one
#sample per batch (or, more precisely, batch_size samples per batch).

model.add(Dense(64,activation='relu',kernel_regularizer=regularizers.l2(0.01)))
model.add(Dense(128,activation='relu',kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.25))
model.add(Dense(256,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(256,activation='relu'))
model.add(Dense(256,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(256,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [44]:
#Compiling the neural network
model.compile(optimizer ='adam',loss='binary_crossentropy', metrics =['accuracy'])

In [45]:
model.fit(x_train, y_train, epochs=150, batch_size=30)

Epoch 1/150
10000/10000 [==============================] - 3s 262us/step - loss: 0.7710 - acc: 0.8430
Epoch 2/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.4304 - acc: 0.8548
Epoch 3/150
10000/10000 [==============================] - 2s 176us/step - loss: 0.4078 - acc: 0.8544
Epoch 4/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.4014 - acc: 0.8580
Epoch 5/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3993 - acc: 0.8580
Epoch 6/150
10000/10000 [==============================] - 2s 174us/step - loss: 0.3988 - acc: 0.8577
Epoch 7/150
10000/10000 [==============================] - 2s 179us/step - loss: 0.4007 - acc: 0.8561
Epoch 8/150
10000/10000 [==============================] - 2s 176us/step - loss: 0.3967 - acc: 0.8594
Epoch 9/150
10000/10000 [==============================] - 2s 171us/step - loss: 0.3963 - acc: 0.8598
Epoch 10/150
10000/10000 [==============================] - 2s 175us/step - loss: 0.3947 - acc: 0.8609
Epoch 11/150
10000/10000 [==============================] - 2s 180us/step - loss: 0.3926 - acc: 0.8602
Epoch 12/150
10000/10000 [==============================] - 2s 183us/step - loss: 0.3938 - acc: 0.8615
Epoch 13/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3923 - acc: 0.8620
Epoch 14/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3919 - acc: 0.8636
Epoch 15/150
10000/10000 [==============================] - 2s 171us/step - loss: 0.3929 - acc: 0.8607
Epoch 16/150
10000/10000 [==============================] - 2s 172us/step - loss: 0.3925 - acc: 0.8626
Epoch 17/150
10000/10000 [==============================] - 2s 170us/step - loss: 0.3909 - acc: 0.8622
Epoch 18/150
10000/10000 [==============================] - 2s 170us/step - loss: 0.3913 - acc: 0.8621
Epoch 19/150
10000/10000 [==============================] - 2s 175us/step - loss: 0.3900 - acc: 0.8646
Epoch 20/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3908 - acc: 0.8646
Epoch 21/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3907 - acc: 0.8637
Epoch 22/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3907 - acc: 0.8646
Epoch 23/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.3884 - acc: 0.8666
Epoch 24/150
10000/10000 [==============================] - 2s 172us/step - loss: 0.3912 - acc: 0.8650
Epoch 25/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3892 - acc: 0.8660
Epoch 26/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3883 - acc: 0.8642
Epoch 27/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3877 - acc: 0.8667
Epoch 28/150
10000/10000 [==============================] - 2s 170us/step - loss: 0.3892 - acc: 0.8657
Epoch 29/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.3874 - acc: 0.8660
Epoch 30/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3894 - acc: 0.8661
Epoch 31/150
10000/10000 [==============================] - 2s 175us/step - loss: 0.3898 - acc: 0.8635
Epoch 32/150
10000/10000 [==============================] - 2s 176us/step - loss: 0.3881 - acc: 0.8646
Epoch 33/150
10000/10000 [==============================] - 2s 174us/step - loss: 0.3865 - acc: 0.8670
Epoch 34/150
10000/10000 [==============================] - 2s 177us/step - loss: 0.3862 - acc: 0.8674
Epoch 35/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3878 - acc: 0.8668
Epoch 36/150
10000/10000 [==============================] - 2s 177us/step - loss: 0.3870 - acc: 0.8667
Epoch 37/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3857 - acc: 0.8674
Epoch 38/150
10000/10000 [==============================] - 2s 172us/step - loss: 0.3879 - acc: 0.8657
Epoch 39/150
10000/10000 [==============================] - 2s 177us/step - loss: 0.3875 - acc: 0.8665
Epoch 40/150
10000/10000 [==============================] - 2s 172us/step - loss: 0.3846 - acc: 0.8667
Epoch 41/150
10000/10000 [==============================] - 2s 185us/step - loss: 0.3847 - acc: 0.8670
Epoch 42/150
10000/10000 [==============================] - 2s 197us/step - loss: 0.3852 - acc: 0.8670
Epoch 43/150
10000/10000 [==============================] - 2s 204us/step - loss: 0.3876 - acc: 0.8654
Epoch 44/150
10000/10000 [==============================] - 2s 171us/step - loss: 0.3845 - acc: 0.8672
Epoch 45/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3849 - acc: 0.8680
Epoch 46/150
10000/10000 [==============================] - 2s 171us/step - loss: 0.3851 - acc: 0.8665
Epoch 47/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3850 - acc: 0.8676
Epoch 48/150
10000/10000 [==============================] - 2s 172us/step - loss: 0.3845 - acc: 0.8663
Epoch 49/150
10000/10000 [==============================] - 2s 181us/step - loss: 0.3846 - acc: 0.8677
Epoch 50/150
10000/10000 [==============================] - 2s 177us/step - loss: 0.3861 - acc: 0.8662
Epoch 51/150
10000/10000 [==============================] - 2s 180us/step - loss: 0.3842 - acc: 0.8671
Epoch 52/150
10000/10000 [==============================] - 2s 180us/step - loss: 0.3830 - acc: 0.8693
Epoch 53/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3859 - acc: 0.8678
Epoch 54/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3842 - acc: 0.8671
Epoch 55/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3838 - acc: 0.8673
Epoch 56/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3825 - acc: 0.8687
Epoch 57/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.3824 - acc: 0.8690
Epoch 58/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3830 - acc: 0.8682
Epoch 59/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3826 - acc: 0.8687
Epoch 60/150
10000/10000 [==============================] - 2s 165us/step - loss: 0.3832 - acc: 0.8682
Epoch 61/150
10000/10000 [==============================] - 2s 165us/step - loss: 0.3825 - acc: 0.8685
Epoch 62/150
10000/10000 [==============================] - 2s 166us/step - loss: 0.3817 - acc: 0.8693
Epoch 63/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3822 - acc: 0.8693
Epoch 64/150
10000/10000 [==============================] - 2s 174us/step - loss: 0.3808 - acc: 0.8695
Epoch 65/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.3828 - acc: 0.8671
Epoch 66/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3805 - acc: 0.8705
Epoch 67/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3834 - acc: 0.8698
Epoch 68/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3812 - acc: 0.8696
Epoch 69/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3826 - acc: 0.8692
Epoch 70/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.3810 - acc: 0.8710
Epoch 71/150
10000/10000 [==============================] - 2s 164us/step - loss: 0.3827 - acc: 0.8681
Epoch 72/150
10000/10000 [==============================] - 2s 166us/step - loss: 0.3816 - acc: 0.8695
Epoch 73/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3811 - acc: 0.8710
Epoch 74/150
10000/10000 [==============================] - 2s 166us/step - loss: 0.3804 - acc: 0.8703
Epoch 75/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.3817 - acc: 0.8708
Epoch 76/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.3808 - acc: 0.8699
Epoch 77/150
10000/10000 [==============================] - 2s 172us/step - loss: 0.3796 - acc: 0.8706
Epoch 78/150
10000/10000 [==============================] - 2s 171us/step - loss: 0.3791 - acc: 0.8712
Epoch 79/150
10000/10000 [==============================] - 2s 165us/step - loss: 0.3800 - acc: 0.8700
Epoch 80/150
10000/10000 [==============================] - 2s 161us/step - loss: 0.3815 - acc: 0.8707
Epoch 81/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3807 - acc: 0.8693
Epoch 82/150
10000/10000 [==============================] - 2s 159us/step - loss: 0.3803 - acc: 0.8711
Epoch 83/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3790 - acc: 0.8703
Epoch 84/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3789 - acc: 0.8702
Epoch 85/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3795 - acc: 0.8708
Epoch 86/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3804 - acc: 0.8711
Epoch 87/150
10000/10000 [==============================] - 2s 159us/step - loss: 0.3816 - acc: 0.8681
Epoch 88/150
10000/10000 [==============================] - 2s 161us/step - loss: 0.3813 - acc: 0.8696
Epoch 89/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3792 - acc: 0.8696
Epoch 90/150
10000/10000 [==============================] - 2s 161us/step - loss: 0.3791 - acc: 0.8694
Epoch 91/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3837 - acc: 0.8681
Epoch 92/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3804 - acc: 0.8703
Epoch 93/150
10000/10000 [==============================] - 2s 163us/step - loss: 0.3818 - acc: 0.8698
Epoch 94/150
10000/10000 [==============================] - 2s 162us/step - loss: 0.3801 - acc: 0.8708
Epoch 95/150
10000/10000 [==============================] - 2s 163us/step - loss: 0.3806 - acc: 0.8699
Epoch 96/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3771 - acc: 0.8732
Epoch 97/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3772 - acc: 0.8721
Epoch 98/150
10000/10000 [==============================] - 2s 162us/step - loss: 0.3781 - acc: 0.8713
Epoch 99/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.3782 - acc: 0.8702
Epoch 100/150
10000/10000 [==============================] - 2s 162us/step - loss: 0.3796 - acc: 0.8709
Epoch 101/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3823 - acc: 0.8685
Epoch 102/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3805 - acc: 0.8695
Epoch 103/150
10000/10000 [==============================] - 2s 166us/step - loss: 0.3802 - acc: 0.8710
Epoch 104/150
10000/10000 [==============================] - 2s 162us/step - loss: 0.3786 - acc: 0.8722
Epoch 105/150
10000/10000 [==============================] - 2s 174us/step - loss: 0.3789 - acc: 0.8713
Epoch 106/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3772 - acc: 0.8726
Epoch 107/150
10000/10000 [==============================] - 2s 172us/step - loss: 0.3756 - acc: 0.8733
Epoch 108/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3772 - acc: 0.8723
Epoch 109/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3792 - acc: 0.8714
Epoch 110/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3785 - acc: 0.8715
Epoch 111/150
10000/10000 [==============================] - 2s 160us/step - loss: 0.3780 - acc: 0.8730
Epoch 112/150
10000/10000 [==============================] - 2s 175us/step - loss: 0.3778 - acc: 0.8704
Epoch 113/150
10000/10000 [==============================] - 2s 165us/step - loss: 0.3769 - acc: 0.8740
Epoch 114/150
10000/10000 [==============================] - 2s 184us/step - loss: 0.3798 - acc: 0.8702
Epoch 115/150
10000/10000 [==============================] - 2s 176us/step - loss: 0.3779 - acc: 0.8714
Epoch 116/150
10000/10000 [==============================] - 2s 189us/step - loss: 0.3808 - acc: 0.8693
Epoch 117/150
10000/10000 [==============================] - 2s 180us/step - loss: 0.3789 - acc: 0.8707
Epoch 118/150
10000/10000 [==============================] - 2s 178us/step - loss: 0.3802 - acc: 0.8706
Epoch 119/150
10000/10000 [==============================] - 2s 183us/step - loss: 0.3781 - acc: 0.8723
Epoch 120/150
10000/10000 [==============================] - 2s 174us/step - loss: 0.3789 - acc: 0.8716
Epoch 121/150
10000/10000 [==============================] - 2s 173us/step - loss: 0.3783 - acc: 0.8727
Epoch 122/150
10000/10000 [==============================] - 2s 177us/step - loss: 0.3777 - acc: 0.8733
Epoch 123/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3788 - acc: 0.8724
Epoch 124/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3781 - acc: 0.8712
Epoch 125/150
10000/10000 [==============================] - 2s 165us/step - loss: 0.3781 - acc: 0.8726
Epoch 126/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3757 - acc: 0.8731
Epoch 127/150
10000/10000 [==============================] - 2s 170us/step - loss: 0.3784 - acc: 0.8716
Epoch 128/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3756 - acc: 0.8736
Epoch 129/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3784 - acc: 0.8720
Epoch 130/150
10000/10000 [==============================] - 2s 168us/step - loss: 0.3755 - acc: 0.8743
Epoch 131/150
10000/10000 [==============================] - 2s 169us/step - loss: 0.3772 - acc: 0.8722
Epoch 132/150
10000/10000 [==============================] - 2s 167us/step - loss: 0.3758 - acc: 0.8735
Epoch 133/150
10000/10000 [==============================] - 2s 172us/step - loss: 0.3749 - acc: 0.8734
Epoch 134/150
10000/10000 [==============================] - 2s 180us/step - loss: 0.3763 - acc: 0.8720
Epoch 135/150
10000/10000 [==============================] - 2s 185us/step - loss: 0.3765 - acc: 0.8725
Epoch 136/150
10000/10000 [==============================] - 2s 177us/step - loss: 0.3766 - acc: 0.8725
Epoch 137/150
10000/10000 [==============================] - 2s 171us/step - loss: 0.3777 - acc: 0.8716
Epoch 138/150
10000/10000 [==============================] - 2s 175us/step - loss: 0.3787 - acc: 0.8712
Epoch 139/150
10000/10000 [==============================] - 2s 170us/step - loss: 0.3752 - acc: 0.8732
Epoch 140/150
10000/10000 [==============================] - 2s 186us/step - loss: 0.3764 - acc: 0.8730
Epoch 141/150
10000/10000 [==============================] - 2s 182us/step - loss: 0.3772 - acc: 0.8737
Epoch 142/150
10000/10000 [==============================] - 2s 187us/step - loss: 0.3757 - acc: 0.8734
Epoch 143/150
10000/10000 [==============================] - 2s 196us/step - loss: 0.3749 - acc: 0.8734
Epoch 144/150
10000/10000 [==============================] - 2s 186us/step - loss: 0.3751 - acc: 0.8740
Epoch 145/150
10000/10000 [==============================] - 2s 182us/step - loss: 0.3764 - acc: 0.8724
Epoch 146/150
10000/10000 [==============================] - 2s 181us/step - loss: 0.3773 - acc: 0.8722
Epoch 147/150
10000/10000 [==============================] - 2s 180us/step - loss: 0.3766 - acc: 0.8725
Epoch 148/150
10000/10000 [==============================] - 2s 182us/step - loss: 0.3773 - acc: 0.8715
Epoch 149/150
10000/10000 [==============================] - 2s 182us/step - loss: 0.3763 - acc: 0.8724
Epoch 150/150
10000/10000 [==============================] - 2s 193us/step - loss: 0.3772 - acc: 0.8721

In [46]:
for i in range(10000,10000+len(y_val)):
    if y_val[i]==-1:
        y_val[i]=0

In [47]:
eval_model=model.evaluate(x_val, y_val)        # Validation accuracy
eval_model

2395/2395 [==============================] - 0s 112us/step

[0.3842061932748942, 0.8668058455861436]

In [48]:
pred = model.predict_classes(test)

In [49]:
for i in (pred):
    if i[0]==0:
        i[0]=-1
print(pred)
d = []
for i in pred:
    d.append(i[0])

[[-1]
 [-1]
 [-1]
 ...
 [-1]
 [-1]
 [-1]]

In [50]:

submission_df['Predicted'] = d
submission_df.to_csv('Keras_model.csv',index=False)

In [51]:
s = pd.read_csv('Keras_model.csv')
s.head(100)

     Id  Predicted
0     1         -1
1     2         -1
2     3         -1
3     4         -1
4     5         -1
5     6         -1
6     7         -1
7     8         -1
8     9         -1
9    10         -1
10   11         -1
11   12         -1
12   13         -1
13   14         -1
14   15         -1
15   16         -1
16   17         -1
17   18         -1
18   19         -1
19   20         -1
20   21         -1
21   22         -1
22   23         -1
23   24          1
24   25         -1
25   26         -1
26   27         -1
27   28         -1
28   29         -1
29   30          1
..  ...        ...
70   71         -1
71   72         -1
72   73          1
73   74         -1
74   75         -1
75   76          1
76   77         -1
77   78         -1
78   79         -1
79   80         -1
80   81          1
81   82         -1
82   83         -1
83   84         -1
84   85         -1
85   86         -1
86   87          1
87   88         -1
88   89         -1
89   90         -1
90   91         -1
91   92         -1
92   93         -1
93   94          1
94   95         -1
95   96         -1
96   97         -1
97   98         -1
98   99         -1
99  100         -1

[100 rows x 2 columns]